* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: unset;
}

nav li {
    display: inline-block;
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    margin-right: 80px;
    margin-top: 60px;
}

nav a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.intro {
    margin-top: 100px;
    margin-left: 80px;
    padding-right: 20px;
}

.text {
    max-width: 800px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 87px;
    line-height: 90px;
    color: #000000;
    margin-bottom: 40px;
}

.heading-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 45px;
    color: #6B6868;
}

.buttons {
    display: flex;
    margin-top: 100px;
    gap: 38px;
}

.button {
    padding: 30px 50px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
}

.hire-button {
    border: 2px solid #000000;
    color: #000000;
}

.hire-button:hover {
    background-color: #275090;
    color: #ffffff;
    transition-duration: 0.15s;
    border-color: #275090;
}

.projects-button {
    background: #000000;
    border: 2px solid #000000;
    color: #ffffff;
}

.projects-button:hover {
    background-color: #275090;
    color: #ffffff;
    transition-duration: 0.15s;
    border-color: #275090;
}


.nav-list a {
    position: relative;
    color: #000;
    text-decoration: none;
}

.nav-list a:hover {
    color: #000;
}

.nav-list a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-list a:hover::before {
    transform: scaleX(1);
}

.projects {
    margin-top: 130px;
    background: #FFC100;
    padding-top: 50px;
    padding-bottom: 150px;
    height: unset;
    padding-left: 20px;
    padding-right: 20px;
}

.projects h2 {
    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 50px;
}

.projects__container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 40px;
    margin: 0 auto;
}



.projects__container__item {
    transition-duration: 0.3s;
    padding: 20px;
    border: 1px solid black;
    border-radius: 29px;
    text-align: center;
    background: #001219;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects__container__item img {
    width: 100%;
    border-radius: 10px
}

.project-info {
    padding: 0 20px;
    margin: 10px 0 0 0;
}

.project-info h3 {
    font-size: 29px;
}

.project-info p {
    font-size: 18px;
    margin: 10px 0 0 0;
    line-height: 24px;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    margin-top: 10px;
}

.project-links a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.project-links a:hover {
    transition-duration: 0.2s;
    transform: scale(1.1);
}

.fa-github {
    margin-right: 5px;
}

.fa-arrow-up-right-from-square {
    margin-left: 5px;
}

.contacts {
    background: #0496FF;
    height: unset;
    padding: 0 20px;
}

.contacts__container {
    padding: 40px 20px;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    background-color: #001219;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contacts h2 {
    margin-left: 80px;
    margin-bottom: 80px;
    font-size: 50px;
    padding-top: 50px;
    color: #fff;
}

.contacts h3 {
    font-size: 29px;
}

.contacts article p {
    font-size: 20px;
}

.contacts p {
    font-size: 18px;
}

.contacts a {
    transition-duration: 0.2s;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    width: fit-content;
    margin: 0 auto;
}

.social-icons a {
    margin: 0;
}

.contacts article {
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials-block {
    max-width: 400px;
    min-width: 375px;
    margin: 0 auto;
    border-top: 1px solid;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__container div:not(.social-icons) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 425px) {
    header {
        height: unset;
        padding-bottom: 50px;
    }

    .projects__container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .intro {
        margin-top: 45px;
        margin-left: 20px;
    }

    .button {
        font-size: 20px;
        padding: 20px;
    }

    .buttons {
        margin-top: 20px;
        gap: 20px;
    }

    .heading {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    nav a {
        font-size: 20px;
        line-height: 20px;
    }

    .nav-list {
        margin-top: 30px;
        display: flex;
        gap: 40px;
        margin-right: 0;
    }

    nav li {
        margin-left: 0;
    }

    nav {
        justify-content: center;
    }

    .projects {
        padding-top: 30px;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        height: unset;
        padding-bottom: 50px;
    }

    .projects h2 {
        margin-left: 0;
        margin-bottom: 33px;
        font-size: 40px;
        text-align: center;
    }

    .contacts h2 {
        margin-left: 0;
        margin-bottom: 33px;
        font-size: 40px;
        text-align: center;
        padding-top: 30px;
    }

    .contacts {
        padding: 0 20px 50px 20px;
        height: unset;
    }

    .contacts a {
        font-size: 18px;
    }

    .contacts__container {
        gap: 25px;
    }

    .socials-block {
        min-width: unset;
    }

    .social-icons a {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .projects__container {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .projects {
        height: unset;
    }
}